### Источник

https://stepik.org/lesson/375665/step/1?unit=363415

### Описание

В первом мини-проекте вам предстоит проанализировать данные о бронировании отелей. Чуть ниже вы можете ознакомиться со списком вопросов и описанием данных. Для удобства проверки далее задачи разбиты на шаги. В некоторых из них также можно встретить небольшие подсказки. 

[датасет](https://stepik.org/media/attachments/lesson/360344/bookings.csv)

Задачи
- Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.
- Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
- Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
- На сколько ночей в среднем бронируют отели разных типов?
- Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
- Проанализируйте даты запланированного прибытия. 
– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.
- Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
- Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?
- Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), и False – в противном случае. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.
 

Описание данных

Имеются следующие переменные:

- Hotel – тип отеля (City Hotel или Resort Hotel)  
- Is canceled – бронирование было отменено (1) или нет (0); неотменённое считается успешным
- Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
- Arrival full date – полная дата прибытия
- Arrival date year – год прибытия  
- Arrival date month – месяц прибытия  
- Arrival date week number – номер недели прибытия
- Arrival date day of month – день прибытия
- Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
- Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
- Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
- Adults – число взрослых
- Children – число детей
- Babies – число младенцев 
- Meal – выбранный тип питания
- Country – страна происхождения клиента
- Reserved room type – тип зарезервированного номера
- Assigned room type – тип полученного номера (может отличаться от забронированного)
- Customer type – тип бронирования
- Reservation status – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
- Reservation status date – дата обновления статуса

In [76]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 40)

In [3]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep=';', 
                       parse_dates=['arrival full date', 'Reservation status_date'])
bookings.head(3)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,stays total nights,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02

In [4]:
# Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 
print(bookings.dtypes)
print(bookings.shape) 
bookings.head(7)

Hotel                                object
Is Canceled                           int64
Lead Time                             int64
arrival full date            datetime64[ns]
Arrival Date Year                     int64
Arrival Date Month                   object
Arrival Date Week Number              int64
Arrival Date Day of Month             int64
Stays in Weekend nights               int64
Stays in week nights                  int64
stays total nights                    int64
Adults                                int64
Children                            float64
Babies                                int64
Meal                                 object
Country                              object
Reserved Room Type                   object
Assigned room type                   object
customer type                        object
Reservation Status                   object
Reservation status_date      datetime64[ns]
dtype: object
(119390, 21)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,stays total nights,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [5]:
# Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
new_columns_names = [x.lower().replace(' ', '_') for x in bookings.columns]
bookings = bookings.rename(columns = dict(zip(bookings.columns, new_columns_names)))
bookings.head(1)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01

In [6]:
# Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
pd.pivot_table(bookings.loc[bookings['is_canceled'] == 0], index='country', values=['is_canceled'], aggfunc='count').sort_values(by='is_canceled', ascending=False).head()

         is_canceled
country
PRT            21071
GBR             9676
FRA             8481
ESP             6391
DEU             6069

In [7]:
# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа 
# City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.
pd.pivot_table(bookings, index='hotel', values=['stays_total_nights'], aggfunc='mean').round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [8]:
# Иногда тип номера, полученного клиентом (assigned_room_type), 
# отличается от изначально забронированного (reserved_room_type). 
# Такое может произойти, например, по причине овербукинга.

#Сколько подобных наблюдений встретилось в датасете?

#*отмена бронирования также считается
bookings.loc[bookings['assigned_room_type'] != bookings['reserved_room_type']].count().head(1)

hotel    14917
dtype: int64

In [53]:
# На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?
pd.pivot_table(bookings, index=['arrival_date_year'], columns=['arrival_date_month'], values=['hotel'], aggfunc='count')
bookings.groupby(['arrival_date_year', 'arrival_date_month'])['hotel'].agg('count').sort_values()
bookings.groupby(['arrival_date_year']).arrival_date_month.agg(pd.Series.mode)
bookings.groupby(['arrival_date_year', 'arrival_date_month'])['hotel'].agg('count').groupby(['arrival_date_year']).nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             5114
2016               2016               October               6203
2017               2017               May                   6313
Name: hotel, dtype: int64

In [54]:
#Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) 
#бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 
#Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :) Например:
# df.groupby('column_1')['column_2'].what_to_do()

bookings.loc[(bookings['is_canceled'] == 1) & (bookings['hotel'] == 'City Hotel')]\
        .groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

In [66]:
# Посмотрите на числовые характеристики трёх колонок: adults, children и babies. 
# Какая из них имеет наибольшее среднее значение?
bookings.adults.mean(), bookings.children.mean(), bookings.babies.mean()
bookings[['adults', 'children', 'babies']].describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [73]:
#Создайте колонку total_kids, объединив столбцы children и babies. 
#Для отелей какого типа среднее значение переменной оказалось наибольшим?
#City hotel – отель находится в городе
#Resort hotel – отель курортный
#В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

bookings.assign(total_kids=bookings.children + bookings.babies)
bookings = bookings.eval('total_kids = children + babies')
bookings.groupby('hotel')['total_kids'].agg('mean').round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [86]:
# Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, 
# сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

bookings['has_kids'] = np.where(bookings['total_kids'] > 0, 0, 1)
kids_cr = bookings.loc[(bookings['has_kids'] == 1) & (bookings['is_canceled'] == 1)].count()[0] / bookings.loc[(bookings['has_kids'] == 1)].count()[0]
no_kids_cr = bookings.loc[(bookings['has_kids'] == 0) & (bookings['is_canceled'] == 1)].count()[0] / bookings.loc[(bookings['has_kids'] == 0)].count()[0] 
kids_cr, no_kids_cr
# bookings.pivot_table(index='is_canceled',  values=['has_kids'], aggfunc='sum')

/tmp/ipykernel_129716/2422191802.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  kids_cr = bookings.loc[(bookings['has_kids'] == 1) & (bookings['is_canceled'] == 1)].count()[0] / bookings.loc[(bookings['has_kids'] == 1)].count()[0]
/tmp/ipykernel_129716/2422191802.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  kids_cr = bookings.loc[(bookings['has_kids'] == 1) & (bookings['is_canceled'] == 1)].count()[0] / bookings.loc[(bookings['has_kids'] == 1)].count()[0]
/tmp/ipykernel_129716/2422191802.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  no_kids_cr = bookings.loc[(bookings['has_kids'] == 0) & (bookings['is_canceled'] == 1)].count()[0] / bookings.loc[(bookings['has_kids'] == 0)].count()[0]
/tmp/ipykernel_129716/2422191802.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  no_kids_cr = bookings.loc[(bookings['has_kids'] == 0) & (bookings['is_canceled'] == 1)].count()[0] / bookings.loc[(bookings['has_kids'] == 0)].count()[0]

(0.37221283323338605, 0.3492284612087441)